* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a#link {
    color: #009EA9;
}
body {
    background-color: #F8F7F5;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:#F8F7F5;
    line-height: 1.7rem;
    font-size: 13.5px;
}

h1, h2 {
    font-family: 'Nunito', sans-serif;
    color: #db2b39;
    line-height: 4rem;
}

.bandeau {
    position:absolute;
    height: 7rem;
    background-color: #009EA9;
    top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F8F7F5;
    width: 100%;
    align-items: center;
}

.photo img {
    width: 10rem;
    border: solid 2px #F8F7F5;
    border-radius: 100px;
}

.nom_fonction {
    padding-inline-start: 2.5rem;
    padding-inline-end: 21rem;
    font-size: 140%;
    color: #F8F7F5;
    line-height: 0.7rem;
}

.container_principal {
    width: 80%;
    height: auto;
    margin: 150px auto;
    background-color: #014656;
    padding: 4rem;
    display: flex;
}

.flex_gauche {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline-end: 2rem;
}

.section_grid {
    display:grid;
    grid-template-columns: 100% auto;
}

.section_grid_contact {
    display:grid;
    grid-template-columns: 16% auto;
}
.titre_grid {
    grid-area: 1 / 1 / 2 / 3;
    line-height: 2rem;
}

.icone {
    justify-self: flex-start;
}

.flex_droit {
    position:relative;
    display: flex;
    flex-direction: column;
    padding-inline-start: 2rem;
    border-inline-start: solid 2px #009EA9;
}
.section_grid_work {
    display:grid;
    grid-template-columns: 15% auto;
}

.section_grid_education {
    display:grid;
    grid-template-columns: 15% 15% auto;
}

.titre_grid_education {
    grid-area: 1 / 1 / 2 / 4;
    line-height: 2rem;
}
